{% extends "layout.frontend.twig" %}

{% block content %}

<!-- header start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      {% for link in menu %}
        <li><a href="{{ link.link }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
<!-- header end -->

  {% autoescape false %}
    {% for block in page_block %}
      {{ block.content }}
    {% endfor %}
  {% endautoescape %}



  <!-- footer start -->

  <!-- footer end -->
{% endblock %}
