<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vert-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/simditor.css">
    <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
  </head>
  <body>
    <div class="row">
      <!-- Main Content -->
      <div class="container">
        {% if flash.success %}
          <div class="alert alert-success alert-dismissible mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ flash.success }}
          </div>
        {% endif %}
        {% if flash.danger %}
          <div class="alert alert-danger alert-dismissible mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ flash.danger }}
          </div>
        {% endif %}
        {% if flash.warning %}
          <div class="alert alert-warning alert-dismissible mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ flash.warning }}
          </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/js/module.min.js" charset="utf-8"></script>
  <script src="/js/vert-menu.js" charset="utf-8"></script>
  <script src="/js/hotkeys.min.js" charset="utf-8"></script>
  <script src="/js/uploader.min.js" charset="utf-8"></script>
  <script src="/js/simditor.min.js" charset="utf-8"></script>
  <script src="/js/datatables.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var editor = new Simditor({textarea: $('#editor'), defaultImage: '/img/image.png'});
    $(document).ready(function() {
      $('#example').DataTable();
    });
  </script>
</html>
