<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Titre de la page ici</title>
    <!-- FAVICON -->
    <link rel="icon" href="/img/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body data-spy="scroll" data-target=".navbar-default" data-offset="100">

    <!-- alerts here -->
    {% if flash.success %}
      <div class="alert alert-success alert-dismissible mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ flash.success }}
      </div>
    {% endif %}
    {% if flash.danger %}
      <div class="alert alert-danger alert-dismissible mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ flash.danger }}
      </div>
    {% endif %}
    {% if flash.warning %}
      <div class="alert alert-warning alert-dismissible mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ flash.warning }}
      </div>
    {% endif %}
    <!-- content here -->
    {% block content %}{% endblock %}

    <!-- JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
